html {
  background-color: #d7dadd;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

#root{
  height: 100%;
}





