html {
  margin: 0;
  background-color: #d7dadd;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root{
  height: 100%;
}





